.modal-body{
    display: flex;
    flex-wrap: wrap;
}

.modal-body  > div{
    width: 50%;
}

.modal-body div img{
    width: 100%;
}

.modal-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.modal-info div{
    margin-right: 20px;
}

.form-control{
    background-color: #ffffff;
    width: 80%;
    margin:  0 20px;
}

.card{
    width: 80%;
    margin: 0 20px;
    border: none;
}

.card ul{
    cursor: pointer;
    max-height: 150px;
    overflow-y: scroll;
}

