<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <app-navbar (search)="filter($event)">
        </app-navbar>
    </header>
    <div *ngIf="pokemons" class="page-content">
        <app-poke-card class="card" *ngFor="let pokemon of pokemons.results | filter: searchText; index as i "
            [name]='pokemon.name.toUpperCase() ' [img]=' baseImgUrl + (pokemon.id) + extensionImgUrl'
            [url]='pokemon.url' [id]='pokemon.id'>
        </app-poke-card>
    </div>
    <div class="button">
        <button class="btn btn-success" *ngIf="!noMorePokemons" (click)="getPokemons(pokemons.next)">Get
            more
            pokemons</button>
    </div>
</body>

</html>